# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.pyc
*.egg-info/
dist/
build/

# Virtual environments
gcp_env/
venv/
ENV/

# VS Code settings
.vscode/

# Other
*.log
*.env
*.DS_Store

# # Ignore shell scripts
# *.sh

# Ignore Jupyter Notebooks
*.ipynb

# Ignore test outputs
htmlcov/
.coverage

# Ignore OS files
Thumbs.db
desktop.ini
